# Ignore all object files
*.o

# Ignore local makefile
p7zip/makefile.machine

# Ignore compiled binaries
p7zip/bin/

# Ignore test files
check/

# Ignore Xcode project files
*.Xcode

# Ignore ext-lib binaries
ext-libs/dist